# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/other-authors/
/3.0.0/vertx-service-provicer-template/.gradle/
/3.0.0/vertx-service-provider-template/build/
/3.0.0/vertx-service-provider-template/.vertx/
/3.0.0/vertx-service-consumer-template/.gradle/
/3.0.0/vertx-service-consumer-template/build/
/3.0.0/vertx-service-consumer-template/.vertx/
